.do
.git
.github
data/*.json
dist
node_modules
.dockerignore
.env
.env.example
.gitignore
.nvmrc
.vscode
app.json
azuredeploy.json
docker-compose.yml
Dockerfile
egg.json
fly.toml
Procfile
TODO
*.tsbuildinfo
