html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

body {
    background-color: #000;
    background-position: top center;
    transition: background-image 2s ease-in-out 0.5s;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://i.imgur.com/lTly23N.png');
}

body>nav {
    background-color: rgba(0, 0, 0, 0.75);
}

.navbar-brand img {
    width: 40px;
    height: 40px;
}

.navbar-brand span {
    color: #fff;
    font-family: 'Marvel', Helvetica, Arial, sans-serif;
    text-decoration: none;
    text-shadow: 0 0 4px #fff;
    text-decoration: none;
}

#spinner {
    zoom: 2;
    opacity: 0.7;
}

#protected-section>div>div {
    background-color: rgba(245, 250, 255, 0.75);
}

#config-form h3.card_title>label {
    font-weight: 900;
}

#config-form h3>label {
    margin-right: 1rem;
}

#config-form div[data-schemaid="root"]>div.card-body>div>div {
    margin-bottom: 3rem;
}

#config-form div[data-schemaid="root"]>div.card-body>div>div:last-child {
    margin-bottom: inherit;
}

#config-form button {
    vertical-align: top;
}

#config-form input[type=checkbox] {
    vertical-align: middle;
    zoom: 2;
    cursor: pointer;
    margin-right: 0.25rem !important;
}

#config-form .btn-group {
    display: inline-flex !important;
    margin-bottom: 0.25rem;
}

#config-form .btn-group button {
    margin-left: 1px;
    margin-right: 1px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#config-form .btn-group.je-object__controls {
    margin: 0 0 0.75rem 0;
}

#config-form .json-editor-btn-add {
    background-color: darkgreen;
}
#config-form .json-editor-btn-add span {
    display: none;
}

#config-form .json-editor-btn-delete {
    background-color: darkred;
}

#config-form .json-editor-btn-delete span {
    display: none;
}

#config-form .json-editor-btn-copy {
    background-color: darkblue;
}

#config-form .json-editor-btn-copy span {
    display: none;
}

footer>a>svg {
    fill: #c6cbd1;
}

#save-config {
    background-color: rgba(15, 20, 25, 0.9);
}

#save-config ._saving_btn {
    display: none;
}

#save-config ._btn ._saving_btn {
    display: inherit;
}

#save-config ._btn ._save_btn {
    display: none;
}

#bye>h3 {
    text-shadow: 0 0 6px #fff;
}

#bye>div>a:hover {
    text-decoration: none;
}

#bye kbd {
    box-shadow: 0 0.125rem 0.25rem rgb(255, 255, 255, 0.75) !important;
}